insmod all_video

set default=0
set timeout=5

menuentry "flowbit OS" --class arch --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=2G
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "KIT (mit Sprachausgabe)" --class arch --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=2G accessibility=on
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "flowbit OS (Safe Mode - nomodeset)" {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=2G nomodeset
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}
