[Unit]
Description=flowbit OS Storage Setup
After=local-fs.target systemd-udevd.service
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kit-automount.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
